* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #root {
    width: 100vw;
    height: 100vh;
  }
  main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  button {
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    padding: 5px;
    color: #353434;
    background-color: #DDD6D6;
    cursor: pointer;
  }
  header {
    width: 100%;
    height: 15%;
    background-color: #AAAAB1;
  }
  header h1 {
    color: #353434;
    margin: 30px 0 0 20px;
  }
  header h1 span {
    color: #B73239;
  }
  header aside {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header aside button {
    margin-right: 30px;
  }
  section {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #DDD6D6;
  }
  section h1 {
    font-size: 3rem;
    color: #353434;
  }
  /* Our overlay has a z-index of 1. This means that the overlay will be behind our modal. */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
  }
  /* The important thing here is the z-index. Note that here the modal has a z-index of 2 */
  /* This means that our modal will sit in front of our overlay */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    z-index: 2;
    background-color: #807B7B;
  }
  .modal-children {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-children .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  form {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  form input {
    width: 200px;
    height: 40px;
    color: #353434;
    background-color: #DDD6D6;
    padding: 5px;
    margin: 5px 0;
    border: none;
    outline: none;
  }
  footer {
    width: 100%;
    height: 5%;
    background-color: #AAAAB1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  footer p {
    color: #353434;
    padding-left: 10px;
  }